<h2 *ngIf="textIndex === 0">Hey {{ getName() }} !</h2>
<h2 *ngIf="textIndex === 1">Il est temps de choisir tes Pokémon</h2>
<h2 *ngIf="textIndex === 2">Tu vas devoir en selectionner 3 parmis 5 Choisis au hasard</h2>
<h2 *ngIf="textIndex === 3">Soit plus malin ou plus chanceux que ton adversaire</h2>
<h2 *ngIf="textIndex === 4">Choisis tes 3 Pokémon</h2>
<div *ngIf="textIndex === 4">
  <div *ngIf="pokemon !== null">
    <div class="pkm-list-container">
      <div *ngFor="let pkm of pokemon, let i = index" class="pkm-card"
           [ngStyle]="{backgroundColor: getBgColor(pkm.type[i]?.name)}" [ngClass]="getDisabled(i)">
        <a (click)="onSelectCard(pkm, i)">
          <div class="card-top">
        <span
          *ngFor="let names of pkm.species[i]?.names, let index = index">
          <strong
            *ngIf="names.language.name === 'fr'">{{ names.name }}</strong>
        </span>
            <span><small>pv</small>{{ pkm.info.base_experience }}</span>
          </div>
          <div class="img-container">
        <span *ngFor="let types of pkm.type[i]?.names, let index = index">
          <div class="pkm-type"
               *ngIf="pkm.type[i].names[index]?.language.name ==='fr'">{{ pkm.type[i].names[index]?.name | titlecase }}</div>
        </span>
            <img src="{{ pkm.info.sprites.front_default }}">
            <div class="pkm-sizes">
              <small>poids: {{pkm.info.weight / 2}}kg -</small>
              <small>- taille: {{pkm.info.height * 12.5}}cm</small>
            </div>
          </div>
          <div class="{{ pkm.type[i]?.name }}">
            <div class="abilities">
              <div style="margin-bottom: 4px; opacity: 0.8;">
                <small class="pkm-power"><strong>Pouvoir Pokémon : </strong></small>
              </div>
              <small><strong>{{ pkm.abilities[2 * i]?.names[3].name }} : </strong></small>
              <small>{{ pkm.abilities[2 * i]?.flavor_text_entries[11].language.name == "fr" ?
                pkm.abilities[2 * i]?.flavor_text_entries[11].flavor_text :
                pkm.abilities[2 * i]?.flavor_text_entries[16].flavor_text }}</small>
            </div>
            <div class="line"></div>
            <div class="moves abilities">
              <div *ngFor="let move of pkm.moves">
                <div *ngIf="move.related_to === pkm.name">
                  <div *ngFor="let names of move.data.names, let index = index">
                    <div *ngIf="names.language.name === 'fr'" class="pkm-move">
                      <div>
                        <small *ngIf="names.language.name === 'fr'">{{ names.name }}</small>
                      </div>
                      <div>
                        <small *ngIf="names.language.name === 'fr'"><strong>{{ move.data.pp }}+</strong></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<h2 *ngIf="textIndex === 5">Bon choix ! Recherche de joueur en cours..</h2>
<h2 *ngIf="textIndex === 6">Adversaire veut se battre !</h2>
<h2 *ngIf="textIndex === 7">Bonne Chance {{ getName() }}!!</h2>
<div class="btn-container">
  <button *ngIf="textIndex !== 0 && textIndex < 6" class="btn btn-dark" (click)="decrementTextIndex()">Precedent</button>
  <button *ngIf="textIndex !== 5 && textIndex < 7" class="btn btn-dark" (click)="incrementTextIndex()">Suivant</button>
</div>

