<h2 *ngIf="textIndex === 0">Hey {{ getName() }} !</h2>
<h2 *ngIf="textIndex === 1">Il est temps de choisir tes cartes</h2>
<h2 *ngIf="textIndex === 2">Tiens, voilà un peu d'XP pour bien débuter</h2>
<h2 *ngIf="textIndex === 2"><small>"vous obtenez 124xp"</small></h2>
<h2 *ngIf="textIndex === 3">Bonne Chance {{ getName() }}!!</h2>
<div *ngIf="textIndex <= 3" class="btn-container">
  <button class="btn btn-dark" (click)="decrementTextIndex()">Precedent</button>
  <button class="btn btn-dark" (click)="incrementTextIndex()">Suivant</button>
</div>
<h2 *ngIf="textIndex === 4">Choisis tes cartes</h2>
<div *ngIf="textIndex === 4">
  <div class="pkm-list-container">
    <div *ngFor="let pkm of pokemon, let i = index" class="pkm-card"
         [ngStyle]="{backgroundColor: getBgColor(pkm.info.types[0].type.name)}">
      <a (click)="onSelectCard(pkm, i)" disabled="{{ selection[i].disabled }}" class="card-href">
        <div class="card-top">
        <span
          *ngFor="let names of pkm.description[0][i]?.names, let index = index">
          <strong
            *ngIf="pkm.description[0][i]?.names[index]?.language.name === 'fr'">{{ pkm.description[0][i]?.names[index]?.name }}</strong>
        </span>
          <span><small>pv</small>{{ pkm.info.base_experience }}</span>
        </div>
        <div class="img-container">
        <span *ngFor="let types of pkm.type[0][i]?.names, let index = index">
          <div class="pkm-type"
               *ngIf="pkm.type[0][i]?.names[index]?.language.name ==='fr'">{{ pkm.type[0][i]?.names[index]?.name | titlecase }}</div>
        </span>
          <img src="{{ pkm.info.sprites.front_default }}">
          <div class="pkm-sizes">
            <small>poids: {{pkm.info.weight}}kg -</small>
            <small>- taille: {{pkm.info.height * 12.5}}cm</small>
          </div>
        </div>
        <div>
          <div class="abilities">
            {{ pkm.abilities[0][2 * i]?.names[3].name }}
            <small>{{ pkm.abilities[0][2 * i]?.flavor_text_entries[11].language.name == "fr" ?
              pkm.abilities[0][2 * i]?.flavor_text_entries[11].flavor_text :
              pkm.abilities[0][2 * i]?.flavor_text_entries[16].flavor_text }}</small>
          </div>
          <div class="line"></div>
          <div class="abilities">
            {{ pkm.abilities[0][2 * i + 1]?.names[3].name }}
            <small>{{ pkm.abilities[0][2 * i + 1]?.flavor_text_entries[11].language.name == "fr" ?
              pkm.abilities[0][2 * i + 1]?.flavor_text_entries[11].flavor_text :
              pkm.abilities[0][2 * i + 1]?.flavor_text_entries[16].flavor_text }}</small>
          </div>
          <div class="line"></div>
        </div>
      </a>
    </div>
  </div>
</div>
<div *ngIf="textIndex === 4" class="btn-container">
  <button class="btn btn-dark" (click)="searchList()">Suivant</button>
</div>

