<div data-role="page" class="poke-search" id="pokeSearch-page" style="text-align: center;">
  <div data-role="header" data-theme="b">
    <h2>Poke-Search</h2>
  </div>
  <div data-role="main" class="ui-content">
    <form id="pokeForm" action="#pokeDetails-page" [formGroup]="form" (ngSubmit)="searchPokemon(form.value)" method="post">
      <div>
        <input type="text" name="pokeInput" id="pokeInput" formControlName="nameOrNumber" placeholder="Name(en)/Number" value="">
      </div>
      <br>
      <div>
        <button class="btn btn-info" type="submit">Search</button>
        <button class="btn btn-dark" type="button" (click)="searchPokemon({'nameOrNumber': getRandom()})">Random</button>
      </div>
    </form>
    <div>
      <ul data-role="listview" data-inset="true" id="pokeDetails">
      </ul>
    </div>
  </div>
</div>

<div *ngIf="pkm !== null">
  <h1 *ngFor="let name of pkm[0].species[0].names, let index = index">
    <strong *ngIf="name.language.name === 'fr'">#{{ pkm[0].info.id }} - {{ name.name }}</strong>
  </h1>
  <div class="pkm-card" [ngStyle]="{backgroundColor: getBgColor(pkm[0].info.types[0].type.name)}">
    <a class="card-href">
      <div class="card-top">
        <span
          *ngFor="let name of pkm[0].species[0].names, let index = index">
          <strong *ngIf="name.language.name === 'fr'">{{ name.name }}</strong>
        </span>
        <span><small>pv</small>{{ pkm[0].info.base_experience }}</span>
      </div>
      <div class="img-container">
        <span *ngFor="let types of pkm[0]?.type[0]?.names, let index = index">
          <div class="pkm-type" *ngIf="pkm[0]?.type[0]?.names[index]?.language.name ==='fr'">{{ pkm[0]?.type[0]?.names[index]?.name | titlecase }}</div>
        </span>
        <img src="{{ pkm[0]?.info.sprites.front_default }}">
        <div class="pkm-sizes">
          <small>poids: {{pkm[0]?.info.weight}}kg -</small>
          <small>- taille: {{pkm[0]?.info.height * 12.5}}cm</small>
        </div>
      </div>
      <div>
        <div class="abilities">
          {{ pkm[0].abilities[0]?.names[3].name }}
          <small>{{ pkm[0]?.abilities[0]?.flavor_text_entries[11].language.name == "fr" ?
            pkm[0]?.abilities[0]?.flavor_text_entries[11].flavor_text :
            pkm[0]?.abilities[0]?.flavor_text_entries[16].flavor_text }}</small>
        </div>
        <div class="line"></div>
        <div class="abilities">
          {{ pkm[0]?.abilities[1]?.names[3].name }}
          <small>{{ pkm[0]?.abilities[1]?.flavor_text_entries[11].language.name == "fr" ?
            pkm[0]?.abilities[1]?.flavor_text_entries[11].flavor_text :
            pkm[0]?.abilities[1]?.flavor_text_entries[16].flavor_text }}</small>
        </div>
        <div class="line"></div>
      </div>
    </a>
  </div>
</div>
