main {
  padding: 55px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  app-login {
    width: 100%;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: top 0.4s;
}

.darkmode {
  background-color: #141017;
  color: #dfdfdf;
  background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
}

.lightmode {
  background-color: #dfdfdf;
  color: black;
  background-image: url("https://www.transparenttextures.com/patterns/light-honeycomb-dark.png");
}

.btn {
  margin: 15px;
}

.btn-nav {
  margin: 0 10px;
}
