<div class="img-banner">
  <div class="disabled">
    <img style="height: 40px; width: 40px" src="./assets/poke.png" alt="drapeau pokemon">
  </div>
  <h1>Bienvenue sur {{ title }}</h1>
  <div>
    <img style="height: 40px; width: 40px" src="./assets/poke.png" alt="drapeau pokemon">
  </div>
</div>
<div class="index-text">
  <p style="max-width: 700px; text-align: center">
    PokéApp est un projet personnel pour découvrir la téchnologie Angular et TypeScript
    avec l'utilisation d'une API pokemon (<a target="_blank" href="http://pokeapi.co">pokeapi</a>).
    l'application consiste en un pokédex, une recherche de pokemon par nom (anglais) ou numéro
    et un mini-jeux de carte pokemon. Amusez-vous bien !
  </p>
</div>
